<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CUP APP </title>
  <link rel= "stylesheet"  href= "{{ url_for('static',filename='css/reset.css') }}">

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/buy-stuffs.css') }}">

</head>

<body>
   <div class="title"><h1>HIRE A TRANSLATOR</h1></div>
  
  <div class="wrap">

        <div class="box"><h1>FIFA WORLD CUP TRANSLATORS</h1></div>
         <div class="box">
          <form class="translator" method="post" action="">
            <input type="text"name="translator" placeholder="idpessoa" required> 
            <button type="submit" id='hire'>HIRE</button>
          </form>
        </div>
          
  </div>
     <div class="title"><h1>{{message}}</h1></div>
   <div class="GenericTable">
    {% block content %}
    {{data | safe}}
    {% endblock %}
   </div>
</body>

</html>
