<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">

         <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/form.css') }}">
         <title>Consulta ao banco de dados da Copa do Mundo</title>
    </head>
    <body>
        <div class="result">
           <form action="{{ url_for('partidas') }}" method="get">
             <h2>Matches:   <input type="image" src="{{ url_for('static',filename='imgs/soccer-ball-button.png') }}"/> </h2>
           </form>
         </div>

         <div class="result">
            <form action="{{ url_for('shopping') }}" method="post">
              <h2>Shopping:   <input type="image" src="{{ url_for('static',filename='imgs/shopping-cart-button.png') }}"/> </h2>
            </form>
          </div>

          <div class="result">
            <form action="{{ url_for('configuracao') }}" method="post">
               <h2>Update user informations:   <input type="submit" value="Configurations"> </h2>
            </form>
          </div>

          <div class="result">
              <h2>Selecione a consulta desejada.</h2>
              <form action="" method="post">
                  Cidades que sediam uma partida com jogadores de certa nacionalidade
                  <br>
                    <select name='nacionalidade'>
                        {% for nacionalidade in nacionalidades %}
                            <option value="{{nacionalidade}}">{{nacionalidade}}</option>
                        {% endfor %}
                    </select>
                  <input type="submit" name="query_cidades_jogadores">

                  <br><br>
                  Eventos que acontecem no mesmo dia e na mesma cidade de uma partida mas em horários diferentes.
                  <br>
                    <select name='partida'>
                        {% for partida in partidas %}
                            <option value="{{partida.strip().split(' ')[0]}}">{{partida}}</option>
                        {% endfor %}
                    </select>
                  <input type="submit" name="query_eventos">

                  <br><br>
                  Viagem de uma cidade para outra em que na primeira joga um jogador de uma certa nacionalidade e na segunda joga o mesmo jogador ou um outro.
                  <br>
                  Jogador 1: <input type="text" name="jogador1"> Jogador 2: <input type="text" name="jogador2">
                  <input type="submit" name="query_viagem_jogadores">

                  <br><br>
                  Hotéis que se localizam  na cidade onde haverá uma partida da seleção <input type="text" name="selecao">
                  <input type="submit" name="query_hoteis_selecao">

                  <br><br>
                 Guias voluntários que estarão disponíveis em uma cidade em que ocorre um determinado evento em que o torcedor se interessa.
                 <!-- <input type="text" name="id_torcedor"> (idtorcedor) -->
                  <input type="submit" name="query_guias">

                  <br><br>
                  Comissão técnica da seleção do país: <input type="text" name="pais">
                  <input type="submit" name="query_comissao">


                  <br><br>
                 Partida em que participa um jogador da posição <input type="text" name="posicao"> com <input type="number" value="0" name="n_gols"> gols ou mais.
                  <input type="submit" name="query_jogador_gols">

              </form>
              <br>
              <h2>{{name}}</h2>
         </div>



       <div class="GenericTable">
        {% block content %}
        {{data | safe}}
        {% endblock %}
   </div>
    </body>
</html>
