<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CUP APP </title>
  <link rel= "stylesheet"  href= "{{ url_for('static',filename='css/reset.css') }}">

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/buy-stuffs.css') }}">

</head>

<body>
   <div class="title"><h1>BUY TICKETS</h1></div>
  
  <div class="wrap">

        <div class="box"><h1>FIFA WORLD CUP MATCHES</h1></div>
         <div class="box">
           <form class="buy-tickets" method="post" action="">
          <input type="text"  placeholder="codpartida" required> 
          <button type="submit" id="buy-tickets" name='buy-tickets'>BUY</button>
            </form>
        </div>
          
  </div>
     
   <div class="GenericTable">
    {% block content %}
    {{data | safe}}
    {% endblock %}
   </div>
</body>

</html>
